{% load static %}

<!doctype html>
<html lang="zh-tw">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>tailwindcss</title>
        <link rel="stylesheet" href="{% static 'src/output.css' %}" />
    </head>
    <body class="max-w-3xl mx-auto bg-slate-200">
        <header class="flex flex-row gap-4 mt-2">
            <a href="{% url 'home' %}" class="px-4 py-2 bg-slate-50">Django Blog</a>
            <a href="{% url 'post_new' %}" class="ml-auto px-4 py-2 bg-slate-50">+ New Post +</a>
            {% block nav %}

            {% endblock nav %}
        </header>
        {% block content %}
        {% endblock %}
    </body>
</html>
