{% load static %}

<!doctype html>
<html lang="zh-tw">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>tailwindcss</title>
        <link rel="stylesheet" href="{% static 'src/output.css' %}" />
    </head>
    <body class="max-w-3xl mx-auto bg-slate-200">
        <header class="flex flex-row gap-4 mt-2">
            <a href="{% url 'home' %}" class="px-4 py-2 bg-slate-50">Django Blog</a>
            <a href="{% url 'post_new' %}" class="ml-auto px-4 py-2 bg-slate-50">+ New Post +</a>
            {% if user.is_authenticated %}
            <p href="{% url 'login' %}" class="px-4 py-2 bg-slate-700 text-slate-200">* hi {{ user.username }} ! *</p>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <input type="submit" value="- Logout -" class="px-4 py-2 bg-slate-50 cursor-pointer">
            </form>
            {% else %}
            <a href="{% url 'login' %}" class="px-4 py-2 bg-slate-50">+ Login +</a>
            {% endif %}
            {% block nav %}

            {% endblock nav %}
        </header>
        {% block content %}
        {% endblock %}
    </body>
</html>
